.social-icons {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $small) {
    display: grid;
    grid: ". . . .";
  }

}

.social-icons__link {
  padding: 0.8rem;

  &:not(:last-child) {
    margin-right: 1em;
  }

  .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.post-list__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.grid-container {
  display: grid;
  grid:
  '. . .'
  '. . .';
  grid-gap: 50px;
  padding: 10px;
  justify-content: space-between;
}
