{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<div class="post-list__container">
  <ul class="post-list">
    <div class="post-list__index">
      <div class="post-list__index-title">
        <h1 class="post__title">
        {{ if isset .Params "titleicon" }}
          <img src="/ionicons/{{ .Params.titleicon }}.svg" class="ionicons">
        {{ end }}
        {{ .Title }}<span class="fancy">.</span>
        </h1>
      </div>
      {{ .Content }}
    </div>

    <div class="grid-container">
      {{ range .Pages }}
      <li class="post">
        <div class="post__header">
          <time class="post__date" datetime="{{ .Date }}"
            >{{ .Date.Format $dateFormat }}</time>
          <h2 class="post__title">
            <a href="{{.RelPermalink}}">{{ .Title }}</a>
          </h2>
          {{ partial "tags.html" .}}
        </div>
      </li>
      {{ end }}

    </div>
  </ul>
  {{ partial "browse-by-tag.html" .}}
</div>

{{ end }}
