@import "../main";

.splash-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: relative;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }

  @media screen and (max-width: $large) {
    flex-direction: column-reverse;
  }
}

.splash {
  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;

    a {
      color: $primary;
      text-decoration: none;
    }
  }
}

.fancy {
  color: $primary;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem;  // offset to negate icon's padding to align with text above
}


/* Customizations */
html {
  overflow: hidden;
  scroll-behavior: smooth;

  @media screen and (max-width: $medium) {
    overflow-y: auto;
  }
}

.pre-splash {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;

  @media screen and (max-width: $medium) {
    /*top: $burgerContainerHeight;
    height: 15%;*/
    display: none;
  }

  img {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 50px;
    width: 50px;
  }
}
.post-splash {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;

  @media screen and (max-width: $medium) {
    display: none;
  }

  img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    height: 50px;
    width: 50px;
  }

  .post-splash-animate {
    @keyframes float {
      0% {bottom: 10%}
      50% {bottom: 15%;}
      100% {bottom: 10%}
    }

    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

#indexImage {
  height: 50%;
  width: auto;
  padding: 15% auto;

  @media screen and (max-height: $small) {
    display: none;
  }
}

#indexImageBurger {
  display: none;

  @media screen and (max-height: $small) {
    display: inherit;
  }
}
