{{ $currentPage := . }}
{{ $icons := .Site.Params.Social.iconOrder | default (slice "Twitter" "GitHub" "Email" "Facebook" "GitLab" "Instagram" "LinkedIn" "YouTube") }}

<div class="social-icons">
  {{ range $icons }}
    {{ $icon := anchorize . }}
    {{ if isset $currentPage.Site.Params.Social $icon }}
      <a class="social-icons__link" rel="me" title="{{ . }}"
         href="{{ index $currentPage.Site.Params.Social $icon }}"
         target="_blank" rel="noopener">
        <div class="social-icons__icon" style="background-image: url('{{print "svg/" $icon ".svg" | absURL}}')"></div>
      </a>
    {{ end }}
  {{ end }}
</div>
