{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

  <div class="splash-container">

    <div class="splash">
      <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
      {{ if isset .Params "handle" }}
      <span class="handle">@{{ .Params.handle }}</span>
      {{ end }}
      <h2>
        {{ .Params.subheading }}
      </h2>
      <!-- Replace MEEEEE -->

      {{ partial "social-icons.html" .}}
    </div>
    <img src="/indexImage.png" id="indexImage">



    <a href="#1" class="post-splash">
      <img src="/ionicons/arrow-down.svg" alt="Go to next page" class="post-splash-animate">
    </a>
  </div>

  <div class="splash-container" id="1">
    <a href="#" class="pre-splash">
      <img src="/ionicons/arrow-up.svg" alt="Go to next page">
    </a>
    <div class="splash">
      <h1>This is what I do<span class="fancy">.</span></h1>
      <h2>
        {{ .Params.enjoy }}
      </h2>

      {{ partial "like-icons.html" .}}
    </div>
    <a href="#2" class="post-splash">
      <img src="/ionicons/arrow-down.svg" alt="Go to next page">
    </a>
  </div>

  <div class="splash-container" id="2">
    <a href="#1" class="pre-splash">
      <img src="/ionicons/arrow-up.svg" alt="Go to previous page">
    </a>
    <div class="splash">
      <h1>Sometimes I like to write<span class="fancy">.</span></h1>
        {{ range first 1 (where .Site.Pages "Type" "blog") }}
        <h2>
          My latest post is titled <a href="{{ .Permalink }}">{{ .Title }}.</a>
          <br>It's about {{ .Description }}.
        </h2>
        {{ end }}
    </div>
    <a href="#" class="post-splash">
      <img src="/ionicons/outline/home-outline.svg" alt="Go to home page">
    </a>
  </div>
{{ end }}
